<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>회원가입 페이지</title>
</head>
<body>
계정 정보를 입력해주세요!

<form action="/joinUs.do" method="post">
    <div>
        <label for="userID">아이디: </label>
        <input id="userID" name="userID" type="text">
    </div>
    <div>
        <label for="password">패스워드: </label>
        <input id="password" name="password" type="password">
    </div>
    <div>
        <label for="sex">성별: </label>
        <input id="sex" name="sex" type="text">
    </div>
    <div>
        <label for="age">나이: </label>
        <input id="age" name="age" type="text">
    </div>

    <input type="submit" value="가입하기">
</form>
</body>
</html>


출처: https://chung-develop.tistory.com/22 [춍춍's 블로그]