<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:if="${user != null}">
    <h1>로그인 성공</h1>

    <div>
        <p> id : <span th:text="${user.getKakaoId()}"></span></p>
        <p> 닉네임 : <span th:text="${user.getNickName()}"></span></p>
        <p> 이메일 : <span th:text="${user.getUserEmail()}"></span></p>
        <p> Access Token : <span th:text="${user.getAccessToken()}"></span></p>
        <p> Refresh Token : <span th:text="${user.getRefreshToken()}"></span></p>
    </div>

    <input type="button" value="로그아웃"
           onclick="location.href='https://kauth.kakao.com/oauth/logout?' +
              'client_id=9a14ba30e24aec9b0b85c4c47c83bcab&logout_redirect_uri=http://localhost:8080/api/kakaologout'">

</div>

<script th:src="@{/js/jquery.js}"></script>
</body>
</html>
